/********** Base styles **********/
.navbar-brand h1 {
  margin: 0;
  font-size: 1.3em;
  font-weight: bold;
}
#nav-list {
  margin-top: 10px;
  text-align: center;
  font-size: 1.8em;
  border-bottom: 1px;
}
#nav-list, li {
  border: 1px solid #000000;
  background-color: #9cfc78;
}
#content-bg {
	margin: 10px;
	background-color: #98fcfa;
}

/********** Large devices only **********/
@media (min-width: 992px) {
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Small devices only **********/
@media (max-width: 767px) {
}
